<div class="container text-center text-md-left">
  <div class="row text-center text-md-left">
    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
      <h5 class="text-uppercase mb-4 salon-header-color">About Us</h5>
      <p class="salon-text-color">
        This is the best Salon in Bihar.Please visit us to avail world class
        services
      </p>
    </div>
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
      <h5 class="text-uppercase mb-4 salon-header-color">Services</h5>
      <p>
        <!-- <a class="salon-text-color" routerLink="services" [queryParams]="{ title: 'SKIN'}">Skin</a> -->
        <a class="salon-text-color" href="{{this.url}}" target="_blank">Skin</a>
      </p>
      <p>
        <!-- <a class="salon-text-color" routerLink="services" [queryParams]="{ title: 'HAIR'}">Hair</a> -->
        <a class="salon-text-color" href="{{this.url}}" target="_blank">Hair</a>
      </p>
      <p>
        <!-- <a class="salon-text-color" routerLink="services" [queryParams]="{ title: 'Bridal MakeUp'}">Makeup</a> -->
        <a class="salon-text-color" href="{{this.url}}" target="_blank">Makeup</a>
      </p>
      <p>
        <!-- <a class="salon-text-color" routerLink="services" [queryParams]="{ title: 'Bleach /D-Tan'}">Hands & Feet</a> -->
        <a class="salon-text-color" href="{{this.url}}" target="_blank">Hands & Feet</a>
      </p>
      <!-- <p>
        <a
          href=""
          class="salon-text-color"
          style="text-decoration: none"
          >Hair System & wig</a
        >
      </p> -->
    </div>
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
      <h5 class="text-uppercase mb-4 salon-header-color font-weight-bold">
        Legal
      </h5>
      <p>
        <a
          href=""
          class="salon-text-color"
          style="text-decoration: none"
          >Help</a
        >
      </p>
      <p>
        <a
          href=""
          class="salon-text-color"
          style="text-decoration: none"
          >FAQs</a
        >
      </p>
      <p>
        <a
          href=""
          class="salon-text-color"
          style="text-decoration: none"
          >Privacy Notice</a
        >
      </p>
      <p>
        <a
          href=""
          class="salon-text-color"
          style="text-decoration: none"
          >Terms and Conditions</a
        >
      </p>
    </div>

    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
      <h5 class="text-uppercase mb-4 salon-header-color font-weight-bold">
        Contact
      </h5>
      <p class="salon-text-color">Email Us</p>
      <p class="salon-text-color">
        <i class="fas fa-search">alambeautysalon@gmail.com</i>
      </p>
      <p class="salon-text-color">Call Us</p>
      <p class="salon-text-color">
        <a href="tel:+917261071777">7261071777(Patna)</a><br>
        <a href="tel:+917488636754">7488636754(Chapra)</a>
      </p>
    </div>
  </div>
  <hr class="mb-4" />
  <div class="row align-items-center">
    <!-- <div class="col-md-12 col-lg-12">
      <p class="salon-text-color">
        Copyright @2021 All Rights Reserved by:
        <a href="" style="text-decoration: none">
          <strong class="text-copyright"
            >Alam's Hair & Beauty Salon(Academy)</strong
          >
        </a>
      </p>
    </div> -->
    <div class="col-md-8 col-lg-7">
      <div class="text-center text-md-right">
        <ul class="list-unstyled list-inline">
          <li>
            <i class="fas fa-search"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
