<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Services</h3>
        </div>

        <ul class="list-unstyled components services-menu">
            <li class="active">
                <a href="#hairSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">HAIR</a>
                <ul class="collapse list-unstyled" id="hairSubmenu">
                    <li>
                        <a  (click)="goToSection($event)">Hair Style</a>
                    </li>
                    <li>
                        <a  (click)="goToSection($event)">Hair Treatment</a>
                    </li>
                    <!-- <li>
                        <a  (click)="goToSection($event)">Hair System, Wig & Hair Extension</a>
                    </li> -->
                    <li>
                        <a  (click)="goToSection($event)">Mens Salon</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#skinSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">SKIN</a>
                <ul class="collapse list-unstyled" id="skinSubmenu">
                    <!-- <li>
                        <a  (click)="goToSection($event)">Skin Care</a>
                    </li> -->
                    <li>
                        <a  (click)="goToSection($event)">Body Polishing</a>
                    </li>
                    <li>
                        <a  (click)="goToSection($event)">Wax</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#makeupSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">MAKEUP</a>
                <ul class="collapse list-unstyled" id="makeupSubmenu">
                    <li>
                        <a  (click)="goToSection($event)">Party MakeUp</a>
                    </li>
                    <li>
                        <a  (click)="goToSection($event)">Reception Makeup</a>
                    </li>
                    <!-- <li>
                        <a  (click)="goToSection($event)">Page 3</a>
                    </li> -->
                </ul>
            </li>
            <li>
                <a href="#bridalSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">BRIDAL</a>
                <ul class="collapse list-unstyled" id="bridalSubmenu">
                    <li>
                        <a  (click)="goToSection($event)">Bridal MakeUp</a>
                    </li>
                    <li>
                        <a (click)="goToSection($event)">Bridal Package 1</a>
                    </li>
                    <li>
                        <a (click)="goToSection($event)">Bridal Package 2</a>
                    </li>
                    <li>
                        <a (click)="goToSection($event)">Groom Package</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#spaSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">SPA</a>
                <ul class="collapse list-unstyled" id="spaSubmenu">
                    <li>
                        <a  (click)="goToSection($event)">Manicure Spa</a>
                    </li>
                    <li>
                        <a  (click)="goToSection($event)">Padicure Spa</a>
                    </li>
                    <!-- <li>
                        <a  (click)="goToSection($event)">Hair Spa</a>
                    </li> -->
                </ul>
            </li>

            <li>
                <a href="#threadSubmenu" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">THREADING</a>
                <ul class="collapse list-unstyled" id="threadSubmenu">
                    <li>
                        <a  (click)="goToSection($event)">Threading</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#bleachSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">BLEACH /
                    D-TAN</a>
                <ul class="collapse list-unstyled" id="bleachSubmenu">
                    <li>
                        <a  (click)="goToSection($event)">Bleach /D-Tan</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>

    <!-- Page Content  -->
    <div [ngClass]="this.device === 'desktop'? '' : 'content-mobile'" id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-0">
            <div class="container-fluid ">

                <button type="button" id="sidebarCollapse" class="navbar-btn" (click)="collapse()">
                    <span class="col-xs"></span>
                    <span class="col-xs"></span>
                    <span class="col-xs"></span>
                </button>
                <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">

                </button> -->

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                </div>
            </div>
        </nav>
        <h1  [ngClass]="this.device === 'desktop'? 'p-3' : 'h1-mobile'" class="text-center">{{showDiv}}</h1>
        <div *ngIf="showDiv === 'Hair Style'">
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Advance Hair Cut</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;600*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Basic Hair Cut</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;400*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Hair Wash</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;300* - &#8377;500*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Blow Dry</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;300* - &#8377;700*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Out Curls Blow Dry</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;400* - &#8377;800*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Comb Curl & Ironing</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;700* - &#8377;2000*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Hair Do</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;500* - &#8377;1000*</strong></p>
                    </div>
                </div>
            </div>


        </div>
        <div *ngIf="showDiv === 'Hair Treatment'">
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Hair Spa</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;1200* - &#8377;2500*</strong></p>
                    </div>
                </div>
            </div>

            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Hair Loss</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;1500* - &#8377;3000*</strong></p>
                    </div>
                </div>
            </div>

            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Anti Dandruff</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;1200*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Oil Therapy</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;500*- &#8377;800*</strong></p>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="showDiv === 'Hair System, Wig & Hair Extension'">
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Hair Wig</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;20000* - &#8377;35000*</strong></p>
                    </div>
                </div>
            </div>

            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Ladies Hair Extension(Per Sticks)</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;200* - &#8377;500*</strong></p>
                    </div>
                </div>
            </div>

            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Ladies Hair Extension(Patch)</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;2500*- &#8377;15000*</strong></p>
                    </div>
                </div>
            </div>


        </div>
        <div *ngIf="showDiv === 'Mens Salon'">
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Hair Cutting</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;200*</strong></p>
                    </div>
                </div>
            </div>

            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Style Hair Cut</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;300*</strong></p>
                    </div>
                </div>
            </div>

            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Beard</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;100*- &#8377;150*</strong></p>
                    </div>
                </div>
            </div>

            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Ammonia Free Hair Color </p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;800*- &#8377;1000*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Hair Color Inova</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;1000*- &#8377;1200*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Hair Color Mojred</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;700*- &#8377;1000*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Head Oil Spa</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;250*- &#8377;500*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Hair Spa</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;700*- &#8377;1000*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Dandruff Treatment</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;600*- &#8377;900*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Hair Highlight</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;500*- &#8377;1500*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Hair Straightening</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;2000*- &#8377;4000*</strong></p>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="showDiv === 'Wax'">
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Face</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;100* - &#8377;200*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>F- Legs</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;500* - &#8377;1000*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>H- Legs</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;400* - &#8377;800*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>F- Hand</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;400* - &#8377;800*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>H- Hand</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;300* - &#8377;500*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Back</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;500* - &#8377;1000*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Front</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;500* - &#8377;1000*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Full Body</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;2000* - &#8377;3500*</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="showDiv === 'Manicure Spa'">
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Basic</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;400*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Lotus (Crystal)</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;700*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Paraffin</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;500*</strong></p>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="showDiv === 'Padicure Spa'">
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Basic</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;500*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Lotus (Crystal)</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;1000*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Paraffin</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;800*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Heel Peel</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;1200*</strong></p>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="showDiv === 'Body Polishing'">
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Crystal Body Spa</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;2500* - &#8377;3500*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Body Spa</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;1500* - &#8377;2000*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Oil Therapy</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong>&#8377;1000* - &#8377;1500*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Body Polishing</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;3500* - &#8377;7500*</strong></p>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="showDiv === 'Threading'">
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Full Face</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;100*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Upper Lips</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;50*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>chin</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong>&#8377;50*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Eyebrows</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;50*</strong></p>
                    </div>
                </div>
            </div>

        </div>


        <div *ngIf="showDiv === 'Bleach /D-Tan'">
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Face</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;400* - &#8377;800*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>F- Legs</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;700*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>H- Legs</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;500*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>F- Hand</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;500*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>H- Hand</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;400*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Back</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;500*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Front</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;500*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Full Body</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;2500*</strong></p>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="showDiv === 'Party MakeUp'">
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Air Brush</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;3000*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Mac</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;2500*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Kryolan</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong>&#8377;2000*</strong></p>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="showDiv === 'Reception Makeup'">
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Air Brush</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;15000*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Mac</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;9000*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Kryolan</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong>&#8377;8000*</strong></p>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="showDiv === 'Bridal MakeUp'">
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Air Brush</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;18000*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Mac</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;12000*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Kryolan</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong>&#8377;9000*</strong></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Out Of City</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong>&#8377;25000*- &#8377;40,000*</strong></p>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="showDiv === 'Bridal Package 1'">
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Hair Spa</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Hair Cut</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Facial</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Full Body Wax</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Full Body Bleaching</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Body Polish</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Whitening Pedi Spa</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Whitening Mani Spa</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Total Amount</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;15000*(1time) - &#8377;50000*(4times)</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showDiv === 'Bridal Package 2'">
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Hair Spa</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Hair Cut</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Facial</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Full Body Wax</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Full Body Bleaching</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Body Polish</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Whitening Pedi Spa</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Whitening Mani Spa</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Bridal MakeUp</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Total Amount</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;25000*(1time) - &#8377;60000*(3time)</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showDiv === 'Groom Package'">

            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Hair Cut</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Shave</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Cream Bath</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Luxury Pedi Spa</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Luxury Mani Spa</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Facial</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Back Spa</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-odd">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Groom MakeUp</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                </div>
            </div>
            <div class="container-fluid  div-table div-table-even">
                <div class="row">
                    <div class="col-md-4 ">
                        <p>Total Amount</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong> &#8377;7000* - &#8377;10000*</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>